#top
.span-12.first#header
	= image_tag "harvest_header.png", id: "harvestheader"
.span-10.prepend-2.last
	= image_tag "http://placehold.it/300x150"
.span-24.forum_container
	%table
		%tr
			%th &nbsp;
			%th Forum
			%th Last Post
			%th Threads
			%th Posts
		- @forums.each do |forum|
			%tr
				%td.fcol1
					= image_tag "leaf-logo-sm.png"
				%td.fcol2= ("#{forum.name} <br/>Forum Description").html_safe
				%td.fcol3 Latest Post
				%td.fcol4 2532
				%td.fcol5 17562
			
