= simple_form_for @listing do |f|
	= f.input :monday_special
	= f.input :tuesday_special
	= f.input :wednesday_special
	= f.input :thursday_special
	= f.input :friday_special
	= f.input :saturday_special
	= f.input :sunday_special
	= f.input :weekly_special
	
	=f.button :submit
