.half-box.green
	%h2= "About #{@listing.name}:"
	- if @listing.about
		%p= @listing.about
	- else
		%p= "#{@listing.name} is a #{@listing.category.downcase} located in #{@listing.city}, #{@listing.state}"
.half-box.green
	%h2= "First Time Patients:"
	- if @listing.first_timers
		%p= @listing.first_timers
	- else
		%p= "Never been to #{@listing.name} before? Come back to comment on your experience."

- today = Date.today.strftime("%A")
- message = today.downcase + "_special"

- if @listing.send(message)
	.half-box.red
		%h2= "#{today} Special"
		%p= @listing.send(message)
	.half-box.red
		%h2= "Weekly Special"
		%p= @listing.weekly_special

.full-box
	%p Comments go hear
