.half-box.green
	%h2= "About #{@listing.name}:"
	%p= @listing.cannawisdom
.half-box.green
	%h2= "First Time Patients:"
	- if @listing.first_timers
		%p= @listing.first_timers
	- else
		%p= "Never been to #{@listing.name} before? Come back to comment on your experience."

- today = Date.today.strftime("%A")
- message = today.downcase + "_special"

- if @listing.send(message)
	.half-box.red
		%h2= "#{today} Special"
		%p= @listing.send(message)
- if @listing.weekly_special
	.half-box.red
		%h2= "Weekly Special"
		%p= @listing.weekly_special

- @listing.comments.each do |comment|
	.full-box.comment
		= image_tag Gravatar.new(comment.user.email).image_url, class: :avatar
		= render partial: "shared/rating", locals: {stars: comment.review.rating}
		%span.user= comment.user.user_name
		%p= comment.body
		- if @current_user == comment.user
			.edit= link_to_modal "edit", listing_review_edit_path( @listing, comment ) 
			.remove= link_to( "remove", listing_review_destroy_path( @listing, comment ), confirm: "Are you sure?" )
