= simple_form_for @article do |f|
	= f.input :title
	.edditor
		= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120
	= f.input :author
	= f.input :categories
	= f.input :article_image
	= f.button :submit

= tinymce
