#top
#dispatches
	.span-24#dispatches_head
		.span-4.first#dispatch_logo
			=image_tag "dispatches_logo.png"
		.span-16#dispatch_title
			%h1 Dispatches from the Highlands
		.span-4.last#dispatch_desc
			%p Read articles from contributing authors and staff writers on what’s going on in the world of Cannabis
	.span-24#dispatches_subhead
		.span-8.first
			%p Articles Search
		.span-8
			%center
				%h3= Date.today.strftime("%B %d, %Y")
		.span-8.last
			%p.floatright= @user_location.max_info_string
	.span-24#dispatches_articles
		- @articles.each do |article|
			#featured_article.article_index_entry
				%center
					%h1= link_to article.title, article
					= image_tag article.article_image(:large) 
					%p= article.exerpt(100).html_safe
		- if @articles.empty?
			%p= ("Sorry no articles found matching your critieria check out our latest #{link_to 'press release', volumes_path} for news ideas. Have a wonderfull day!").html_safe
	.span-24
		= paginate @articles
