.span-24
	.back_top
		%h1 Cannapages Administration Panel
.container
	#back_nav
		%ul
			%li
				= link_to listings_admin_index_path do
					= image_tag "backend-homelogo.png"
					%p Listings
			%li
				= link_to ads_path do
					= image_tag "backend-homelogo.png"
					%p Ads
			%li
				= link_to critiques_admin_index_path do
					= image_tag "backend-companyinfo.png"
					%p Critiques
			%li
				= link_to articles_admin_index_path do
					= image_tag "backend-dollarlog.png"
					%p Articles
			%li
				= link_to volumes_admin_index_path do
					= image_tag "backend-dollarlog.png"
					%p Volumes
			%li
				= link_to feeds_admin_index_path do
					= image_tag "backend-shopmenu.png"
					%p RSS Feeds
			%li
				= link_to pages_path do
					= image_tag "backend-photoalbum.png"
					%p Pages
			%li
				= link_to strains_admin_index_path do
					= image_tag "backend-photoalbum.png"
					%p Strains
			%li
				= link_to '#' do
					= image_tag "backend-managecomments.png"
					%p Users
			%li
				= link_to '#' do
					= image_tag "backend-post-thread.png"
					%p Post Thread in Forum
			= link_to '#' do
				%li.bottom_of_section
					= image_tag "backend-post-thread.png"
					%p Post Thread in Forum
			%li
				= link_to '#' do
					%p Create Banner Ad
			%li
				= link_to '#' do
					%p Feature my Listing
			%li
				= link_to '#' do
					%p CannaSaver Coupon
			%li
				= link_to '#' do
					%p CannaVideo
			%li
				= link_to '#' do
					%p Vanity Domain
			%li
				= link_to '#' do
					%p ADILAS/CannaMerchant
			%li
				= link_to '#' do
					%p Advertising Packages
					
