.span-24
	.back_top
		= image_tag "http://placehold.it/100x100"
		%h1 Company/User Name
.container
	#back_nav
		%ul
			%li
				= link_to '#' do
					= image_tag "backend-homelogo.png"
					%p Dashboard Home
			%li
				= link_to '#' do
					= image_tag "backend-companyinfo.png"
					%p Company Info
			%li
				= link_to '#' do
					= image_tag "backend-dollarlog.png"
					%p Daily/Weekly Specials
			%li
				= link_to '#' do
					= image_tag "backend-shopmenu.png"
					%p Shop Menu
			%li
				= link_to '#' do
					= image_tag "backend-photoalbum.png"
					%p Photo Menu
			%li
				= link_to '#' do
					= image_tag "backend-managecomments.png"
					%p Manage Comments
			%li
				= link_to '#' do
					= image_tag "backend-post-thread.png"
					%p Post Thread in Forum
			%li.back_nav_border
			%li
				= link_to '#' do
					%p Create Banner Ad
			%li
				= link_to '#' do
					%p Feature my Listing
			%li
				= link_to '#' do
					%p CannaSaver Coupon
			%li
				= link_to '#' do
					%p CannaVideo
			%li
				= link_to '#' do
					%p Vanity Domain
			%li
				= link_to '#' do
					%p ADILAS/CannaMerchant
			%li
				= link_to '#' do
					%p Advertising Packages
					
