#black_bar
	= render "shared/login_info"
#head2_container
	.container
		.span-12.alt_search_container
			= image_tag "listings-icon.png", id: "altlogotop" if params[:controller] == "listings"
			= image_tag "field-icon.png", id: "altlogotop" if params[:controller] == "strains"
			= image_tag "news-icon.png", id: "altlogotop" if params[:controller] == "volumes" or params[:controller] == "articles"
			= image_tag "critiques-icon.png", id: "altlogotop" if params[:controller] == "critiques"
			= image_tag "members-icon.png", id: "altlogotop" if params[:controller] == "?"
			= image_tag "forum-icon.png", id: "altlogotop" if params[:controller] == "forums"
			= image_tag "saver-icon.png", id: "altlogotop" if params[:controller] == "?"
			#altsearchform
				= derived_search_form
		.span-12.last#altnavlinks
			%ul.alt_front_end_nav
				%li
					- unless params[:controller] == "listings"
						= link_to listings_path do
							= image_tag "/assets/listings-icon.png"
					- unless params[:controller] == "strains"
						= link_to strains_path do
							= image_tag "/assets/field-icon.png"
					- unless params[:controller] == "volumes" or params[:controller] == "articles"
						= link_to volumes_path do
							= image_tag "/assets/news-icon.png"
					- unless params[:controller] == "critiques"
						= link_to critiques_path do
							= image_tag "/assets/critiques-icon.png"
					- unless params[:controller] == "?"
						= link_to "#" do
							= image_tag "/assets/members-icon.png"
					- unless params[:controller] == "forums"
						= link_to forums_path do
							= image_tag "/assets/forum-icon.png"
					- unless params[:controller] == "?"
						= link_to "#" do
							= image_tag "/assets/saver-icon.png"
#grad_bar
