.span-24
	.back_top
		= image_tag "http://placehold.it/100x100"
		%h2 Company/User Name
		= link_to '#' do
			#view_page
				%span View Page
.container
	#back_nav
		%ul
			= link_to '#' do
				%li
					= image_tag "backend-homelogo.png"
					%p Dashboard Home
			= link_to '#' do
				%li
					= image_tag "backend-companyinfo.png"
					%p Company Info
			= link_to '#' do
				%li
					= image_tag "backend-dollarlog.png"
					%p Daily/Weekly Specials
			= link_to '#' do
				%li
					= image_tag "backend-shopmenu.png"
					%p Shop Menu
			= link_to '#' do
				%li
					= image_tag "backend-photoalbum.png"
					%p Photo Menu
			= link_to '#' do
				%li
					= image_tag "backend-managecomments.png"
					%p Manage Comments
			= link_to '#' do
				%li
					= image_tag "backend-post-thread.png"
					%p Post Thread in Forum
			%li.back_nav_border
			= link_to '#' do
				%li
					%p Create Banner Ad
			= link_to '#' do
				%li
					%p Feature my Listing
			= link_to '#' do
				%li
					%p CannaSaver Coupon
			= link_to '#' do
				%li
					%p CannaVideo
			= link_to '#' do
				%li
					%p Vanity Domain
			= link_to '#' do
				%li
					%p ADILAS/CannaMerchant
			= link_to '#' do
				%li
					%p Advertising Packages
					
