.login_info
	- if @current_user
		%p= ("Logged in as #{@current_user.user_name} | #{backend_link} | #{link_to "Sign Out", custom_logout_path}").html_safe
	- else
		%p= ("#{link_to "Sign up", new_user_registration_path} | #{link_to "Login", new_user_session_path}").html_safe
