#black_bar
	= render "shared/login_info"
#head_container
	= image_tag "hempheader.png", id: "hempheader"
	.container#inner_header
		.span-24
			= image_tag "main_logo.png", id: "logotop"
			#search_form2
				= render "searches/home_listings"
	#navbar
		= image_tag "/assets/navbar2.png", id: "navimage"
		.container#navlinks
			.span-11.prepend-11
				%ul.front_end_nav
					%li
						= link_to strains_path do
							= image_tag "/assets/field-logo.png"
						= link_to volumes_path do
							= image_tag "/assets/news-icon.png"
						= link_to critiques_home_path do
							= image_tag "/assets/critiques-icon.png"
						= link_to cadets_home_path do
							= image_tag "/assets/members-icon.png"
						= link_to forums_path do
							= image_tag "/assets/forum-icon.png"
						-# = link_to "#" do
						-# 	= image_tag "/assets/saver-icon.png"
