#black_bar
#head_container
	= image_tag "hempheader.png", id: "hempheader"
	.container#inner_header
		.span-24
			= image_tag "main_logo.png", id: "logotop"
			#searchform
				= simple_form_for Search.new, action:"/" do |f|
					= f.input :query, label: false, placeholder: "Query", input_html: {class:"topsearch"}
					%p#near near
					= f.input :user_location, label: false, placeholder: "UserLocation", input_html: {class:"topsearch"}
				= image_tag "search_icon.png", id: "search_icon"
	#navbar
		= image_tag "/assets/navbar2.png", id: "navimage"
		.container#navlinks
			.span-11.prepend-11
				%ul
					%li
						= link_to "#" do
							= image_tag "/assets/field-logo.png"
						= link_to "#" do
							= image_tag "/assets/news-icon.png"
						= link_to "#" do
							= image_tag "/assets/critiques-icon.png"
						= link_to "#" do
							= image_tag "/assets/members-icon.png"
						= link_to "#" do
							= image_tag "/assets/forum-icon.png"
						= link_to "#" do
							= image_tag "/assets/saver-icon.png"