#black_bar
#main_header
	#search_bar
		= image_tag "main_logo.png", id: "logotop"
		#searchform
			= simple_form_for Search.new, action:"/" do |f|
				= f.input :query, label: false, placeholder: "Query", input_html: {class:"topsearch"}
				%p#near near
				= f.input :user_location, label: false, placeholder: "UserLocation", input_html: {class:"topsearch"}
	#navbar
		= image_tag "/assets/navbar2.png"
		#navlinks
			%ul
				%li
					= link_to "#" do
						= image_tag "/assets/field-logo.png"
					= link_to "#" do
						= image_tag "/assets/news-icon.png"
					= link_to "#" do
						= image_tag "/assets/critiques-icon.png"
					= link_to "#" do
						= image_tag "/assets/members-icon.png"
					= link_to "#" do
						= image_tag "/assets/forum-icon.png"
					= link_to "#" do
						= image_tag "/assets/saver-icon.png"


//						#mainsearchform
//							= simple_form_for Search.new, action:"/" do |f|
//								= f.input :query, label: false, placeholder: "Query", input_html: {class:"topsearch"}
//								%p#near near
//								= f.input :user_location, label: false, placeholder: "UserLocation", input_html: {class:"topsearch"}
//							.mainsearchbtn
//								= image_tag "searchicon.png", id:"topsearchicon"