.span-12.first#welcome
	%h1	Welcome to Cannapages
	%h2	Explore the largest collection of cannabis dispensaries and "kind" comapnies in the world
	%h3	Chceck out the Cannapages Field Guide for everything you'll need to make the most informed choice on the strain variety for you.
.span-12.last#fieldguide
	= image_tag "/assets/homepage-header.png"
	%ul.fieldguidehome
		%li
			%p= "Strain: #{@strain.name}"
		%li
			%p= "Lineage: #{@strain.origins}"
		%li
			%p= "Dominance: #{@strain.dominance}"
		%li
			%p= "Notes: #{@strain.bio_exerpt}"
.span-20.append-2.prepend-2#homefeatured
	= image_tag "aarow-logo.png", id: "aarowlogo"
	%h2#featureddispensaries= "Featured Dispensaries by user_location"
	= link_to "#", id: "location_change" do
		%h2 Change Location
	= gmaps4rails(@listings)
.span-24#homespecials
	%ul
		%li= image_tag "naturaleaf.png", id: "homespeshlogo" 
		%li= image_tag "theclinic.png", id: "homespeshlogo" 
		%li= image_tag "madmonday.png", id: "homespeshlogo" 
.span-24#homefooter
	.span-8.first.footersection
		%h2.footertitle
			%p#theharvestfeed 
				= image_tag "forum-footerlogo.png", id: "footerlogo" 
	.span-8.footersection
		%h2.footertitle
			%p#cannasaver
				= image_tag "saver-footerlogo.png", id: "footerlogo"
	.span-8.last.footersection
		%h2.footertitle
			%p#cannacadets
				= image_tag "cadet-footerlogo.png", id: "footerlogo"
