.span-24.first
	%h1#main_home_heading	Welcome to Cannapages
	#home_page_featured
		= image_tag "home_page_featured.png"
		#fieldguide
			%ul.fieldguidehome
				%li
					%p= ("<span class='first'>Strain:</span> #{@strain.name}").html_safe
				%li
					%p= ("<span class='first'>Lineage:</span> #{@strain.origins}").html_safe
				%li
					%p= ("<span class='first'>Dominance:</span> #{@strain.dominance}").html_safe
				%li
					%p= ("<span class='first'>Notes:</span> #{@strain.bio_exerpt}").html_safe
	.span-11#home_text
		%h2	Explore the largest collection of cannabis dispensaries and "kind" comapnies in the world
		%br
		%h3	Chceck out the Cannapages Field Guide for everything you'll need to make the most informed choice on the strain variety for you.
	
.span-24#homefeatured
	= image_tag "aarow-logo.png", id: "aarowlogo"
	%h2#maptext Featured Dispensaries by user_location
	= link_to "change location", '#', id: "location_change"
	.span-11.first
		#map
	.span-11.last
		#featured_listings_container
			- @featured_listings.each do |listing|
				.featured_listing
					= image_tag "/assets/featured-marker-icon.png", class: :icon_left
					%h4= truncate(listing.name, length: 31)
					%p.distance= ("<span>Distance:</span> #{listing.distance.round(2)}").html_safe
					%p.special= best_special_for_home_page( listing )
.span-24#home_slider
	%h2 Current Cannabis Specials for user_location
	%h1 THERE WILL BE A SLIDER HERE
.span-8.first.home_btns_bottom
	%h2.bottom_text The Harvest Feed
	%p.bottom_text &nbsp;Cannapages Forums
	%ul.bottom_text 
		%li Industry Job List
		%li Cannabis Q&A
		%li Wholesale List
	= image_tag "harvest_logo_120.png"
.span-8.home_btns_bottom
	%h2.bottom_text_mid CannaSaver
	%p.bottom_text_mid &nbsp;Cannapages Discounts
	%ul.bottom_text_mid
		%li Daily Specials
		%li Weekly Specials
		%li Coupons
	= image_tag "saver_logo_120.png"
.span-8.last.home_btns_bottom
	%h2.bottom_text CannaCadets
	%p.bottom_text &nbsp;Cannapages Members
	%ul.bottom_text
		%li Win Free Stuff
		%li Special Deals
		%li Piece Graveyard
	= image_tag "cadet_logo_120.png"
