.span-2.first.prepend-3.first#companylogo
.span-10#companyname
.span-4.last.append2#viewpage
.span-4.first.append2#nav1
	%ul
		%li#businesshome
			= image_tag "backend-homelogo.png", id:"backendmenu"
			%p 
		%li#companyinfo
			= image_tag "backend-companyinfo.png", id:"backendmenu"
			%p hi
		%li#dailyspecials
			= image_tag "backend-dollarlog.png", id:"backendmenu"
			%p hi
		%li#shopmenu
			= image_tag "backend-shopmenu.png", id:"backendmenu"
			%p hi
		%li#photoalbum
			= image_tag "backend-photoalbum.png", id:"backendmenu"
			%p hi
		%li#managecomments
			= image_tag "backend-managecomments.png", id:"backendmenu"
			%p hi
		%li#postthread
			= image_tag "backend-post-thread.png", id:"backendmenu"
			%p hi
.span-4.first.append2#nav2
	%ul
		%li#createbanner
			= image_tag "backend-createbanner.png", id:"backendmenu"
			%p hi
		%li#featuremylisting
			= image_tag "backend-featuremylisting.png", id:"backendmenu"
			%p hi
		%li#cannasavercupon
			= image_tag "backend-cannasavercupon.png", id:"backendmenu"
			%p hi
		%li#cannavideo
			= image_tag "backend-cannavideo.png", id:"backendmenu"
			%p hi
		%li#vanity
			= image_tag "backend-vanity.png", id:"backendmenu"
			%p hi
.span-4-append-2#viewpage
	.span12
		#adspace1
			.span2
				= image_tag "roachylarge.png", id:"backendmenu"
			.span10
				%p TIP OF THE DAY

.span-12.last#fieldguide
	%ul.fieldguidehome
		%li#Strain
			= image_tag "shopmenu.png", id:"backendmenu"
		%li#Shop
			= image_tag "setupspecials.png", id:"backendmenu"
		%li#Price
			= image_tag "postahelp.png", id:"backendmenu"
		%li#Lineage
			= image_tag "feature.png", id:"backendmenu"
		%li#Notes
			= image_tag "makeacupon.png", id:"backendmenu"