= link_to "Create New Critique", new_critique_path

%table
	%tr
		%td.bold Title
		%td.bold Published Date
		%td.bold Last Updated
		%td.bold Views
		%td.bold Edit
		%td.bold Remove
	- @critiques.each do |critique|
		%tr
			%td= link_to critique.title, critique, target: "_blank"
			%td= critique.created_at
			%td= critique.updated_at
			%td= critique.views
			%td= link_to "edit", "#"
			%td= link_to "remove", critique, method: :delete, confirm: "Are you sure?"
