#top
.span-24.push_down
	= image_tag "critiquespage-logo.png", class: "critique-home"
	.critiques_slider_top
		.arrow_left
		.arrow_right
		- @critiques.each_with_index do |critique,index|
			= link_to critique do
				.slide{class: index > 0 ? "hidden":"shown", index: index, current: index > 0 ? "false" : "true"}
					%p= critique.title
					= image_tag critique.critique_image(:large)
.span-24
	.latest_critique
		%p.header Latest Critique
		%h2= ("Business: <span>#{@latest.listing.name}</span>").html_safe if @latest.listing
		%h2= ("Product: <span>#{@latest.strain_test.strain_name}</span>").html_safe if @latest.strain_test
		%h3= ("Product: <span>#{@latest.strain.strain_name}</span>").html_safe if @latest.strain
		= image_tag @latest.critique_image(:small)
		= raw @latest.exerpt(120)
		= link_to "Keep reading", @latest, class: "continue"
	.slider_right_container
		.slider1
			.arrow_right
			.arrow_left
			%h3.cr_home Critiqued Dispensaries
			- @listings.each_with_index do |listing, index|
				.critique_dispensaries.green_thingy{class: index > 0 ? "hidden" : "shown", index: index, current: index > 0 ? "false" : "true"}
					= link_to listing do
						%p= listing.cannawisdom
						= image_tag listing.logo(:thumb)
		.slider2
			.arrow_right
			.arrow_left
			%h3.cr_home Critiqued Strains
			- @strains.each_with_index do |strain, index|
				.critique_strain.green_thingy{class: index > 0 ? "hidden" : "shown", index: index, current: index > 0 ? "false" : "true"}
					= link_to strain do
						%h3= strain.name
						= image_tag strain.best_image

