#top
.span-18.first#critiques_container
	- @critiques.each do |critique|
		.crit_results
			.crit_pic
				= image_tag critique.critique_image(:small)
			.crit_info
				%ul
					%li
						%h2= critique.index_title
					- if critique.listing
						%li
							%p= "From #{critique.listing.name}"
					- if critique.strain_test
						%li
							%p= "THC: #{critique.strain_test.thc}"
						%li
							%p= "CBD: #{critique.strain_test.cbd}"
						%li
							%p= "CBN: #{critique.strain_test.cbn}"
						%li
							%p= "Total Cannabinoids: #{critique.strain_test.total_cannabinoids}"
			.crit_exerpt
				= raw critique.exerpt
		.crit_graph
			= image_tag critique.strain_test.chart_url, class: :small_strain_test_chart if critique.strain_test
			
			
	
%test{name: 'AK47', dispensary: 'bobs grow house', 		cbn: 5, cbd: 7, thc: 20.2, total: 32}
%test{name:'g13', 	dispensary: 'Jims herbs', 			cbn: 2, cbd: 3, thc: 18.7, total: 25}
%test{name:'blue', 	dispensary: 'wellness center', 		cbn: 1, cbd: 4, thc: 19.4, total: 24}
%test{name:'green', dispensary: 'get high', 			cbn: 6, cbd: 5, thc: 23.0, total: 34}
%test{name:'chronic', dispensary: 'hippie shack', 		cbn: 3, cbd: 6, thc: 27.5, total: 36}

