.span12first#critlogo
    = image_tag "critlogo-header.png", id: "crit-top"
.span12last#critslide
    = image_tag "crit-mock.png", id: "crit-top"
.span10first#crit-leftslide
    = image_tag "critiqued-dispensary-title.png", id: "crit-leftitle"
        = image_tag "critiqued-dispensary-title.png", id: "crit-leftmock"
            %p hi
.span10last#crit-rightslide
    = image_tag "critiqued-dispensary-title.png", id: "crit-rightitle"
        = image_tag "critiqued-dispensary-title.png", id: "crit-rightmock"
            %p hi
