#top
.span-18.first#critique_container
	= image_tag @critique.critique_image, id: "strain_image"
	= link_to @listing do
		%h2= ("Business: <span>#{@listing.name}</span>").html_safe if @listing
	= link_to @strain do
		%h2= ("Product: <span>#{@strain_test.strain_name}</span>").html_safe if @strain_test
	#crit_text
		= raw @critique.content
	- if @strain_test
		#crit_strain_test
			= image_tag @strain_test.chart_url, class: :chart
			%ul
				- if @strain
					%li= ("Dominance: <span>#{@strain.dominance.capitalize}</span>").html_safe
				%li
					%p= ("THC: <span>#{@strain_test.thc}</span>").html_safe
				%li
					%p= ("CBD: <span>#{@strain_test.cbd}</span>").html_safe
				%li
					%p= ("CBN: <span>#{@strain_test.cbn}</span>").html_safe
				%li
					%p= ("Total Cannabinoids: <span>#{@strain_test.total_cannabinoids}</span>").html_safe
	- unless @critique.comments.empty?
		%table#crit_comments
			%tr#table_head
				%th User
				%th Comment
			- 10.times do |x|
				%tr
					%td.col1
						= image_tag "leaf-logo-sm.png"
					%td.col2
						%p Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
				
