#top
.span-12.first#header
	= image_tag "harvest_header.png", id: "harvestheader"
.span-10.prepend-2.last
	-# = image_tag "http://placehold.it/300x150", id: "harvestadd"
.span-24.forum_container
	%h2= ("#{link_to 'Harvest Feed', forums_path} > #{link_to @forum.name, forum_path(@forum)} > #{@thread.title}").html_safe
	= link_to_modal( new_forum_forum_thread_forum_post_path( @forum, @thread ) ) do
		%h2.new_thread + New Post
	- @posts.each_with_index do |post,index|
		.post{class: (index % 2 == 0 ? "light-blue" : "white")}
			= image_tag Gravatar.new( post.user.email ).image_url, class: :avatar
			.inner_container
				%p.user= post.user.user_name
				.content
					%p= raw post.content
				- if post.user == @current_user
					%p.edit= link_to_modal "edit", edit_forum_forum_thread_forum_post_path( @forum, @thread, post )
					%p.remove= link_to_modal("remove", forum_forum_thread_forum_post_path( @forum, @thread, post), method: :delete, confirm: "Are you sure?" ) unless index == 0
