= simple_form_for @strain do |f|
	= f.input :name
	= f.input :genetics, hint: "List all predisesors with capitols and coma seperated for now like White Widow, Jedi Weed, etc.."
	= f.input :flowering_time
	= f.input :bio, as: :text
	= f.button :submit
