#top
.span-18.first.strain_container
	.ribbon-wrapper
		.ribbon-front
			%h2 Field Guide
		.ribbon-edge-topleft
		.ribbon-edge-topright
		.ribbon-edge-bottomleft
		.ribbon-edge-bottomright
		.ribbon-back-left
		.ribbon-back-right
	#field_results
		- @strains.each do |strain|
			= link_to strain do
				.result
					= image_tag "field-guide-footerlogo.png", alt: "#{strain.name} #{strain.menu_type}"
					%h2= strain.name
					%h3= "#{strain.dominance}"
					%p.bio= "#{truncate strain.bio, length: 150}"
					.strain_index_rating
						= render partial: "shared/rating", locals: {stars: rand(5) + 1}
.span-6.last
	- @ads.each do |ad|
		= link_to ad.href do
			= image_tag ad.ad_image
.span-24
	= paginate @strains
