#strain_top_show
.span-16.strain_show_left.first
	#image_widget
		.large_holder
			= image_tag @strain_tests.first.image(:medium) unless @strain_tests.empty?
			= image_tag "generic_flower_320.jpg" if @strain_tests.empty?
		= image_tag "/assets/fieldguide-logo.png", class: "fieldguide-logo"
		.small_holder_contianer
			- @strain_tests.each do |st|
				.small_holder
					= image_tag st.image(:thumb), "data-src" => st.image(:medium)
	#strain_main_info
		%h3= @strain.name
		%p= ("<span>Genetics:</span> #{@strain.genetics}").html_safe
		%p= ("<span>Flowering Time:</span> #{@strain.flowering_time}").html_safe
		%p= ("<span>Dominance:</span> #{@strain.dominance}").html_safe
		%p= ("<span>Bio:</span> #{@strain.bio}").html_safe
	#strain_critiques_index
		- @strain_tests.each_with_index do |st,i|
			- critique = st.critique
				- if critique
				.critique{class: (((i % 2) == 0) ? "light_blue" : "plain")}
					= image_tag "critiques-thumb.png"
					%p.title= critique.listing.name
					%p= raw critique.exerpt
					%p.read_more= link_to "Read More", critique
	#comments
		= link_to_modal "Rate Strain", new_strain_comment_path( @strain ), class: "create_comment"
		- @strain.comments.each do |comment|
			.full-box.comment
				= image_tag Gravatar.new(comment.commenter.email).image_url, class: :avatar
				= render partial: "shared/rating", locals: {stars: comment.rating}
				%span.user= comment.commenter.user_name
				%p= comment.body
				- if @current_user == comment.commenter
					.edit= link_to_modal "edit", edit_strain_comment_path( @strain, comment )
					.remove= link_to( "remove", [@strain, comment], confirm: "Are you sure?", method: :delete )
		
.span-8.last.adds
	- @ads.each do |ad|
		= link_to ad.href, class: :add do
			= image_tag ad.ad_image
