!!! XML
!!!
%html
	%head
		%title CannaPages
		= javascript_include_tag :application
		= csrf_meta_tag
		= stylesheet_link_tag :application
		-# /[if lt IE 8]
		-# = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

		%body
			= render 'shared/mainheader'
			.container
				- if notice
					%p.notice= notice
				- if alert
					%p.error= alert
				= yield
				= yield :scripts
				= stylesheet_link_tag "map"
