!!! XML
!!!
%html
	%head
		%title= seo_title
		= javascript_include_tag :application
		= csrf_meta_tag
		= stylesheet_link_tag :application
		-# /[if lt IE 8]
		-# = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
		<meta name="google-site-verification" content="I1xpGBoYSiHO4TcRPPk0NUA-2DAZIOx_WXRQQJ20Rdk" />
		<meta name="google-site-verification" content="I1xpGBoYSiHO4TcRPPk0NUA-2DAZIOx_WXRQQJ20Rdk" />
		= display_meta_tags( generate_meta )
		
	%body
		%h1.hidden= seo_h1
		- if params[:controller] == "home"
			= render 'shared/mainheader'
		- else
			= render 'shared/altheader'
		.container
			- if notice
				%p.notice= notice
			- if alert
				%p.error= alert
			= yield
			= yield :scripts
			= stylesheet_link_tag "map"
		= render "shared/footer"
		-# XHTML Section
		%user_location{"data-lat" => @user_location.lat, "data-lng" => @user_location.lng}
		- if @listings
			- @listings.each do |listing|
				%listing{"data-lat" => listing.lat, "data-lng" => listing.lng, "data-name" => listing.name, "data-featured" => "false", "data-phone" => listing.formated_phone, "data-address" => listing.full_address, "data-slug" => listing.slug}
		- if @featured_listings
			- @featured_listings.each do |listing|
				%listing{"data-lat" => listing.lat, "data-lng" => listing.lng, "data-name" => listing.name, "data-featured" => "true", "data-phone" => listing.formated_phone, "data-address" => listing.full_address, "data-slug" => listing.slug}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-35836576-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
