!!! XML
!!!
%html
	%head
		%title CannaPages
		= javascript_include_tag :application
		= csrf_meta_tag
		= stylesheet_link_tag :application
		-# /[if lt IE 8]
		-# = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
		
	%body
		- if params[:controller] == "home"
			= render 'shared/mainheader'
		- else
			= render 'shared/altheader'
		.container
			- if notice
				%p.notice= notice
			- if alert
				%p.error= alert
			= yield
			= yield :scripts
			= stylesheet_link_tag "map"

		-# XHTML Section
		%user_location{"data-lat" => @user_location.lat, "data-lng" => @user_location.lng}
		- if @listings
			- @listings.each do |listing|
				%listing{"data-lat" => listing.lat, "data-lng" => listing.lng, "data-name" => listing.name}
