!!! XML
!!!
%html
	%head
		%title CannaPages
		= javascript_include_tag :application
		= csrf_meta_tag
		= stylesheet_link_tag :application
		-# /[if lt IE 8]
		-# = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

		%body
		#grad_bar
			.container
				- if notice
					%p.notice= notice
				- if alert
					%p.error= alert
				= render 'shared/business_backend_nav'
				.span-18.back_content
					= yield
					- btob_ad = Ad.for_page( 'Business to Business' ).first
					- btob_ad.shows += 1
					- btob_ad.save
					= link_to btob_ad.href do
						= image_tag btob_ad.ad_image( btob_ad.image_size ), id: :btob_add
