!!! XML
!!!
%html
	%head
		%title CannaPages
		= javascript_include_tag :application
		= csrf_meta_tag
		= stylesheet_link_tag :application
		-# /[if lt IE 8]
		-# = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
		
	%body
		- if params[:controller] == "home"
			= render 'shared/mainheader'
		- else
			= render 'shared/altheader'
		.container.listing_show_container
			- if notice
				%p.notice= notice
			- if alert
				%p.error= alert
			.listing-show-header.span-24
				#listing_show_map
				= image_tag @listing.logo(:large), id: :logo
				= image_tag "/assets/creamocrop.png", id: :creamocrop if @listing.creamocrop
				.info_background
				.listing_info
					%p.name= @listing.name
					%p.address= @listing.full_address
					%p.phone= @listing.formated_phone
					= render partial: "shared/rating", locals: {stars: @listing.listing_review.average_rating.round}
					.extra_links
						= directions_to( @listing.full_address )
						= link_to_modal "Rate Business", listing_review_new_path
					= render partial: "shared/listing_icons", locals: {listing: @listing}
			.listing_show_content.span-24
				.show_nav
					= link_to listing_path(@listing, intent: "cannawisdom"), class: listing_link_active?("cannawisdom") do
						%li CannaWisdom
					- if @listing.has_menu?
						= link_to listing_path(@listing, intent: "menu"), class: listing_link_active?("menu") do
							%li Menu
					- if @listing.has_media?
						= link_to listing_path(@listing, intent: "media"), class: listing_link_active?("media") do
							%li Media
					-# = link_to listing_path(@listing, intent: "cannasaver"), class: listing_link_active?("cannasaver","cannasaver") do
					-# 	%li CannaSaver
					= link_to_modal listing_review_new_path do
						%li Rate Business
					=	link_to "http://maps.google.com/maps?q=#{@listing.full_address}", target: "_blank" do
						%li Directions
					.business_hours
						%h3 Business Hours
						%ul
							%li.lb= "Monday #{(@listing.monday_start and @listing.monday_start.strftime("%l:%M")) or "Not set"} - #{(@listing.monday_end and @listing.monday_end.strftime("%l:%M")) or "Not set"}"
							%li= "Tuesday #{(@listing.tuesday_start and @listing.tuesday_start.strftime("%l:%M")) or "Not set"} - #{(@listing.tuesday_end and @listing.tuesday_end.strftime("%l:%M")) or "Not set"}"
							%li.lb= "Wednesday #{(@listing.wednesday_start and @listing.wednesday_start.strftime("%l:%M")) or "Not set"} - #{(@listing.wednesday_end and @listing.wednesday_end.strftime("%l:%M")) or "Not set"}"
							%li= "Thursday #{(@listing.thursday_start and @listing.thursday_start.strftime("%l:%M")) or "Not set"} - #{(@listing.thursday_end and @listing.thursday_end.strftime("%l:%M")) or "Not set"}"
							%li.lb= "Friday #{(@listing.friday_start and @listing.friday_start.strftime("%l:%M")) or "Not set"} - #{(@listing.friday_end and @listing.friday_end.strftime("%l:%M")) or "Not set"}"
							%li= "Saturday #{(@listing.saturday_start and @listing.saturday_start.strftime("%l:%M")) or "Not set"} - #{(@listing.saturday_end and @listing.saturday_end.strftime("%l:%M")) or "Not set"}"
							%li.lb= "Sunday #{(@listing.sunday_start and @listing.sunday_start.strftime("%l:%M")) or "Not set"} - #{(@listing.sunday_end and @listing.sunday_end.strftime("%l:%M")) or "Not set"}"
				.show_content
					= yield
					= yield :scripts
		= render "shared/footer"
		-# XHTML Section
		%user_location{"data-lat" => @user_location.lat, "data-lng" => @user_location.lng}
		%listing{"data-lat" => @listing.lat, "data-lng" => @listing.lng, "data-name" => @listing.name}
			
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-35836576-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
